/* all */
*{
    box-sizing: border-box;
}
.title{
    text-align: center;
    color: #ff4f81;
    font-size: 40px;
}
.line{
    display: block;
    font-size: 17px;
    color: black;
    position: relative;
    line-height: 40px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}
.line::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    bottom: 0;
    left: 47%;
    background-color: black;
}
/* header */
.header .header-top{
    background-color: #ff4f81;
    padding: 10px 0;
}
.header-top a{
    color: white;
    text-decoration: none;
}
.header-top a:hover{
    color: #00a98f;
}
.header-top .header-right i{
    padding: 10px;
    background-color: black;
    border: 1px solid black;
}
.header-top .header-right i:hover{
    background-color: transparent;
    border: 1px solid white;
}
.header-nav #header-logo a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
.header-nav #header-logo h1{
    font-size: 30px;
    font-weight: bold;
}
.header-nav #header-logo h1 label{
    display: block;
    font-size: 12px;
    color: #ff4f81;
    font-weight: bolder;
    padding-left: 20%;
}
.header-nav .header-menu .nav-link{
    color: black;
    font-weight: bold;
    padding: 30px 20px;
    letter-spacing: 1.5px;
}
.header-nav .header-menu .nav-link:hover, .header-nav .header-menu .nav-item.active .nav-link{
    color: #ff4f81;
}
.header-nav .header-menu .nav-item{
    position: relative;
    
}
.header-nav .header-menu .nav-item::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    bottom: 20px;
    left:0;
    background-color: red;
    transition: all .5s;
}
.header-nav .header-menu .nav-item:hover::after{
    width: 95%;
}
.header-nav .header-menu .nav-item.active::after{
    width: 95%;
}
.header-menu .nav-item.dropdown .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.4);
}
.header-menu .nav-item.dropdown .dropdown-menu .dropdown-item{
    background-color: transparent;
    color: white;
}
.header-menu .nav-item.dropdown .dropdown-menu .dropdown-item:hover{
    color: #ff4f81;
}
.testimonials .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    padding: 10px;
}
/* carousel */
.carousel{
    position: relative;
    width: 100%;
}
.carousel .carousel__overplay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.carousel #carouselInstruction ol{
    bottom: 50px;
}
.carousel #carouselInstruction ol li{
    height: 10px;
    width: 10px;
    border-radius: 50%;

}
.carousel .carousel-inner .carousel-caption h5{
    font-size: 45px;
}
.carousel .carousel-inner .carousel-caption h5 span{
    font-weight: bold;
}
.carousel .carousel-inner .carousel-caption p{
    letter-spacing: 2px;
    text-align: center;
}
.carousel .carousel-inner .carousel-caption a{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 10px 30px;
    transition: all .5s;
}
.carousel .carousel-inner .carousel-caption{
    top: 40%;
    line-height: 50px;
}
.carousel .carousel-inner .carousel-caption a:hover{
    color: white;
    background-color: #ff4f81;
    border: 1px solid transparent;
}

.carousel .carousel-inner .carousel-item{
    height: 600px;
}
.carousel #carouselInstruction .carousel-inner .item1{
    background: url('../img/banner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .item2{
    background: url('../img/banner2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .item3{
    background: url('../img/banner3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* welcome */
.welcome{
    padding: 60px 0;
}
.welcome .welcome-text{
    padding: 30px 130px;
    text-align: center;
    color: gray;
}
.welcome .welcome-items{
    padding: 30px;
    line-height: 50px;
}
.welcome .welcome-items i{
    font-size: 35px;
}
.welcome .welcome-items h4{
    color: #ff4f81;
    font-size: 1.8em;
    font-weight: 600px;
}
.welcome .welcome-items h5{
    font-size: 1em;
    font-weight: 600px;
}
.welcome .welcome-items p{
    color: gray;
}
.welcome .welcome-items.welcome-two{
    border-left: none;
    border-right: none;
}
/* stats */
.stats{
    background: url('../img/g1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    text-align: center;
    padding: 50px;
    background-attachment: fixed;
    position: relative;
    color: white;
}
.stats .stats__overplay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.stats .stats-items{
    line-height: 60px;
    padding: 50px;
}
.stats .stats-items i,.stats .stats-items p{
    font-size: 40px;
}
.stats .stats-items h3{
    color: #ff4f81;
    padding: 20px 0;
}

/* offer */
.offer{
    padding: 50px;
}
.offer .offer-items{
    text-align: center;
    margin:0 0 30px;
    padding: 15px;
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    transition: all .5s;
}
.offer .offer-items:hover{
    background-color: #12ccc3;
}
.offer .offer-items i{
    font-size: 40px;
    padding: 20px 0;
    color: #ff4f81;
}
/* testimonials */
.testimonials{
    background: url('../img/g3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 30px 0;
}
.testimonials__carousel .item img{
    width: 70px;
    height: 70px;
    margin-left: 100px;
}
.testimonials .testimonials__carousel{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin: 50px 0;
    color: white;
    box-shadow: 0px 1px 7px #8e8e8e;
}
.testimonials__carousel .testimonials__content h5{
    font-weight: bold;
    color: white;
}
.testimonials__carousel .testimonials__content p{
    color: #ff4f81;
}
.testimonials .testimonials__text{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
/* news */
.news{
    margin: 100px 0;
}
.news img{
    width: 100%;
}
.news p{
    color: gray;
}
.news a{
    text-decoration: none;
    color: black;
    transition: all .5s;
}
.news a:hover, .news h5{
    color: #ff4f81;
}
/* footer */
.footer{
    color: gray;
    background-color:#141415;
    padding: 30px 0;
}
.footer a{
    text-decoration: none;
    color: gray
}
.footer a:hover{
    color: white;
}
.footer .arrow, .footer h3{
    color: #ff4f81;
}
.footer .icon{
    border: 1px solid white;
    padding: 5px; 
    font-size: 12px;
    color: white;
    margin-right: 10px;
}
.footer .footer__search h3{
    color: #ff4f81;
}
.footer .footer__search input{
    width: 70%;
    outline: none;
    padding: 14px;
    color: #888;
    border: none;
    margin-right: 15px;
    background-color: white;
    letter-spacing: 2px;
    
}

.footer .footer__search button{
    padding: 14px;
    width: 20%;
    border: none;
    background-color: #ff4f81;
    color: white;
    letter-spacing: 2px;
}
.footer .footer__search button:hover{
    background-color: #ec1955;
}
/* copy__right */
.copy__right{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.copy__right p a{
    text-decoration: none;
    color: #ff4f81;
    transition: all .5s;
}
.copy__right p a:hover{
    color: white;
}
#IntructionModal .modal-dialog #IntructionModalLabel{
    color: #ff4f81;
}


@media (max-width:992px){
    .stats .stats__content .row .stats-items{
       padding: 10px 0;
       line-height: 0;
    }
    .welcome .welcome-text{
        padding: 30px 0;
    }
    .welcome .welcome-items{
        border: 1px solid black;
        margin: 10px;
    }
    .carousel .carousel-inner .carousel-caption{
        top: 40px;
    }
    .testimonials .testimonials__carousel .testimonials__content img{
        margin-left: 30px;
        height: 40px;
        width: 40px;
    }
    
}